.git
.gitignore
.venv
docker
docs
environment/.env-local
environment/.env
environment/.env-prod-ahtrc
environment/.env-prod-db
environment/.env-prod-http
.devcontainer
.vscode
.claude
CLAUDE.md
**/__pycache__
*.pyc
*.mo
backups
backupdb.sh
backupfiles.sh
