docs
.venv
docker
environment/.env-local
environment/.env
environment/.env-prod-ahtrc
environment/.env-prod-db
environment/.env-prod-http
nginx/active.conf.template
*.pyc
*.mo
.claude
CLAUDE.md
media
backups
